
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    position: sticky;
    top: 2px;
    background-color: rgb(145, 204, 227);
    text-align: center;
    align-items: center;
    height: 75px;
    margin:auto;
    padding:0px 50px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.nav-left{
    font-size: 35px;
    font-weight: bolder;
    letter-spacing:-5px;
}
.nav-right{   
    font-size: 30px;   
}
.a-element{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    transition: 0.5s;
}
.a-element:hover{
    color: rgb(4, 98, 135);
    border-bottom: 2px solid white;
    font-size: 35px;   
}

.sticky{
    float: right;
    height: 40px;
    width:50px ;
    transition: 0.5s;
}

.home{
    background-image: linear-gradient(to right
    ,rgb(149, 213, 238) ,rgb(0, 164, 228));
    width: 100%; 
    color: aliceblue;       
    height: 100%;
}
.home1{
    display: flex;
    flex-direction: row;
    padding: 50px 150px; 
    text-align: center;
    align-items: center;
    margin: auto;
}.self{   
    font-size: 50px;
    font-weight: bold;
}
.self-info{
    font-size: 30px;
}
.play{
    width: 400px;
    height: 450px;
}
.home-left{
    width:60%;
}
.home-right{
    padding-top: 80px;
    width:40%;
}
.footer{
    background-color: blueviolet;
    color: aliceblue;
    width: 100%;
    height: 55px;
    font-size: 40px;
    float: bottom;
    position: fixed;
    padding-left: 20px;
    bottom: 2px;
}

@media screen and ( max-width:480) {
    .home{
        text-align: center;
        align-items: center;
        padding: 20px;
        display: block;
    }
    .home1{
        width:100%;        
    }
    .self{
        width: 100%;
    }
    .self.info{
        width: 100%;
    }
    .home-right{
        width: 100%;
    }
    .play{
        width: 100%;
        height: auto;
    }
    .footer{
        width: 100%;
    }
}

.about{
    background-image: linear-gradient(45deg, rgb(241, 128, 128),rgb(119, 119, 230));   
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 50px 50px;
}
.container{
    display:flex;

}
.about-us{
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: 5px;
}
.content{
   
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}
.kidspic{
    width: 350px;
    height: 400px;

}
.about-left{
    width: 70%;
}
.about-right{
    width:30%;
}
.bottom{
    
    display: flex;
    background-image: linear-gradient(45deg,);
    padding: 50px;
    margin: auto;
      
}
.bottom-left{
    display: inline-grid;
    grid-template-columns: repeat(2, 400px);
    gap: 30px;     
    border-radius: 50px;
    color: black;   
    padding: 50px 10px ;
    text-align: center;
    width: 60%;   
    margin-left: 10%;
   
}
.bottom-right{
    width:40%;
}
.safety{
background-color: aliceblue; 
border-radius: 40px; 
padding: 30px;
}
.safety-left{
    float: left;
}
.safety-right{
    padding-right: 30px;    
    font-size: 25px;
}
.exibits{
    background-image: linear-gradient(45deg, rgb(199, 86, 219),rgb(95, 181, 217));
    width: 100%;
    height: 150vh;
    padding:50px 100px;
    font-size: 30px;
    color: aliceblue;
    margin: auto;
    text-align: center;
    
}
.title{
    font-size: 40px;
}
.matter{
    float: left;
    background-color: aliceblue;
    width: 75%;
    color: rgb(98, 95, 95);
    border-radius: 50px;
    position: relative;
    top: 10px;
    padding:20px ;
    height: 300px;
    margin-bottom:10px;
    overflow:auto;
    font-size: 25px;
    
}
.sub-title{
    text-align: center;
    font-size: 30px;   
}


.tool{
    clear: left;
}
.tool-left{
    float: left;
    width: 70%;
    align-items:center ;
    padding-top: 30px;
}
.tool-right{
    float: right;
    width: 30%;
    height: 200px;
    background-image: url(softplay1.png);
    background-repeat: no-repeat;

    background-position: center;
   
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}
@keyframes example{
    0%{
        background-image: url(softplay1.png);
    }
    25%{
        background-image: url(softplay2.png);
    }
    50%{
        background-image: url(softplay3.png);
    }
    75%{
        background-image: url(softplay4.png);
    }
    100%{
        background-image: url(softplay5.png);
    }
}
.matter2{
    clear: left;
    float: right;
    background-color: aliceblue;
    width: 75%;
    color: rgb(98, 95, 95);
    border-radius: 50px;
    position: relative;
    top: 10px;
    padding:20px ;
    height: 300px;
    margin-bottom:10px;
    overflow:auto;
    font-size: 25px;
}
.tool-right2{
    float: right;
    width: 30%;
    height: 200px;
    background-image: url(tplay1.png);
    background-repeat: no-repeat;
    background-size: 100 100;
    background-position: center;
   
    animation-name: example2;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}
@keyframes example2{
    0%{
        background-image: url(tplay1.png);
    }
    25%{
        background-image: url(tplay2.png);
    }
    50%{
        background-image: url(tplay3.png);
    }
    75%{
        background-image: url(tplay4.png);
    }
    100%{
        background-image: url(tplay5.png);
    }
}

.matter3{
    clear: right;
    float: left;    
    background-color: aliceblue;
    width: 75%;
    color: rgb(98, 95, 95);
    border-radius: 50px;
    position: relative;
    top: 10px;
    padding:20px ;
    height: 300px;
    margin-bottom:10px;
    overflow:auto;
    font-size: 25px;
}
.tool-right3{
    float: right;
    width: 30%;
    height: 200px;
    background-image: url(rplay.png);
    background-repeat: no-repeat;
    background-size: 100 100;
    background-position: center;
   
    animation-name: example3;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;

}
@keyframes example3{
    0%{
        background-image: url(rplay.png);
    }
    50%{
        background-image: url(rplay1.png);
    }
    100%{
        background-image: url(rplay2.png);
    }
    
}



.pricing{
    background-color: rgb(2, 183, 255);
    display: flex;
    width: 100%;
    color: aliceblue;
    padding: 50px;
    font-size: 30px;
   /* justify-content: space-between; */
}
.price1-name {
    font-size: 36px;
}

.price1{
    display: block;
    width: 40%;
}

.price1-name{
    text-align: center;
    margin: auto;
}
.price2{
    /* width: 40%; */
    margin-left: 200px;
    display: block;
    justify-content: space-between;
}
.price-top{
    display: inline-grid;
    grid-template-columns: repeat(2, 300px);
    gap: 10px;     
    border-radius: 50px;
    height: 100px;
    width: 600px;
    color: rgb(3, 105, 146);
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
    /* justify-content: space-between; */
}
.box1{
    background-color: aliceblue;
    /* margin: 20px; */
    border-radius: 30px;
    color: rgb(8, 96, 155);    
    width: 250px;
    height: 250px;
    transition: 1s;
    
   
}
.box1:hover{
    width:300px ;
    height:300px;
    background-color: rgb(200, 196, 196);
}
.black{
    color: rgb(20, 19, 19);
}
table{
    width: 580px;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    background-color: aliceblue;
    border-radius: 30px;
    color: rgb(57, 55, 55);
    font-size: 25px;    
    height: 350px;  
    transition: 1s; 
}
table:hover{
    width:620px ;
    height:400px;
    background-color: rgb(169, 167, 167);
}
.bold{
    font-size: bold;
    font-size: 28;
    text-align: center;
}
.price-bottom1{
    align-items: center;   
    margin-top: 150px;
    background-color: aliceblue;
    border-radius: 30px;
    color: rgb(57, 55, 55);
    font-size: 25px;    
    height: 250px; 
    width: 580px; 
    transition: 1s;
    padding: 20px;
    padding-left: 50px;
}
.price-bottom1:hover{
    height: 300px;
    width:700 ;
    background-color: rgb(167, 161, 161);
}

ul{
    list-style-type: disc;
}


.contact{
    padding: 50px;
    display: flex;
    background-color: rgb(205, 106, 67);
}
.contact-left{
    display: block;
    font-size: 30px;
    color: aliceblue;
    width: 50%;
}
.contact-right{
    width: 50%;
    
}
.contact-two{
    display: flex;
}
.call1{
    display: flex;
}
.social1{
    height: 30px;
    width: 30px;
    margin: auto;
    
}
.social{
    height: 50px;
    width: 50px;
    
    margin-right: 30px;
    transition: 1s;  
}
.social:hover{
    height: 60px;
    width: 60px;
    transform: scale(300px 320px);

}




.bokking{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 50%;
    height: 800px;
    width: 100%;
    font-size: 25px;

}



input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 25px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #da13ab;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; 
    color: rgb(66, 65, 65);
    font-size: 25px;
  }
  
  input[type=submit]:hover {
    background-color: #640369;
  }
  
  .container1 {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 50%;
    
  }
  
  .form1 {
    float: left;
    width: 25%;
    margin-top: 6px;
    color: rgb(0, 0, 0);
   
  }
  
  .form2{
    float: left;
    width: 75%;
    margin-top: 6px;
    color: rgb(66, 65, 65);
    font-size: 25px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 480px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  